html {
    height: 100%;
}
body {
    min-height: 98%;
}

.login-form{
    margin-top: 30px;
    top: 100%;
    text-align: center;
}

body{
    /*background-image: url("/img/game/ground.jpg");*/
    background-color: black;
    color: lightblue;
    font-size: 16px;
    font-family: "Arial Black";
}

input{
    padding: 2px 10px 2px 10px;
    border-color: darkblue #000095 #000095 darkblue;
    color: lightgray;
    font-weight: 700;
    /*border-width: 5px;*/
    border-radius: 5px;
    background: linear-gradient(#000095,darkblue);
}

/*
input:hover{
    padding: 2px 3px 2px 3px;
    border-color: green darkgreen darkgreen green;
    color: #000;
    font-weight: 700;
    border-radius: 5px;
    background: linear-gradient(#CEBA91FF, #907465FF);
}
*/

.game-body{
    height: 95vh;
    min-height: 100%;
}

.dialog{
    max-width: 400px;
    margin: 10px auto 30px auto;
    border-width: 10px;
    border-style: groove;
    border-radius: 5px;
    border-color: #000095;
    height: 100%;
    padding: 10px;
    /*border-image: linear-gradient(to right, darkblue, darkorchid) 1;*/
}
.close-dialog{
    float: right;
    color: #000095;
}
.close-dialog:hover{
    cursor: pointer;
    color: lightblue;
}