.p5 {
    padding: 0 5px;
}

.mh50{
    max-height: 24px;
}

.tac{
    text-align: center;
}

.storeName {
    text-align: center;
    white-space: nowrap;
    min-width: 60px;
}

.header{
    height: 36px;
}

.menu-icon{
    margin-left: 5px;
    cursor: pointer;
    padding: 0 35px;
    height: 32px;
    margin-top: 2px;
    width: 107px;
}

.menu{
    position: absolute;
    width: 107px;
    top: 36px;
    left: 5px;
    z-index: 1000;
    display: none;
    background-color: black;
    color: #ddcffb;
    padding: 5px;
}

.menu div a {
    color: lightblue;
}

td {
    padding: 0 5px;
}

.login-form{
    position: relative;
    top: 100%;
    text-align: center;
}

.red{
    color:red;
}

.template-text{
    width: 97%;
    height: 50vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.auto_clear{
    width: 22px;
    height: 22px;
}

.cards-menu{
    background-color: black;
    color: #ddcffb;
    z-index: 1000;
    display: none;
    position: absolute;
    padding: 5px;
    border-radius: 4px;
    left: 60px;
}