.p5 {
    padding: 0 5px;
}

.mh50{
    max-height: 24px;
}

.tac{
    text-align: center;
}

.storeName {
    text-align: center;
    white-space: nowrap;
    min-width: 60px;
}

.header{
    height: 24px;
}

.menu-icon{
    height: 20px;
    padding-left: 14px;
    cursor: pointer;
}

.menu{
    max-width: 160px;
    position: absolute;
    top:24px;
    left:20px;
    z-index:1000;
    display: none;
}

td {
    padding: 0 5px;
}